@charset "utf-8";
/* CSS Document */
body,h1,h2,ul,p{ margin:0; padding:0;}
li{ list-style:none;}
a{ text-decoration:none;}
#wrapper{ margin:0 auto;}

#header{ height:50px; background:#F2F2F2;}
#intro{ font-size:16px; color:#666; padding:16px 0 0 74px;}
#rl{ position:absolute; left:1100px; top:16px;}
#rl a{ color:#000;font-size:18px; padding: 0 10px;}
#rl a:hover{ color:#FF9500;}

#content{width:960px; height:420px; margin:0 auto;}
#img{ position:absolute; left:620px; top:124px;}
h1{ font-size:20px; font-weight:normal; color:#FF9500; position:absolute; left:590px; top:228px;}
#input{ font-size:20px; color:# 757575; width:462px; height:50px; border-radius:10px; padding-left:120px;position:absolute; left:384px; top:270px; outline:none;}
#img2{ position:absolute; left:930px; top:290px;}

#footer{ height:300px;background:#f2f2f2;padding: 50px 0 0 240px;}
#footer div{width:350px;float:left; }
h2{ font-size:20px; color:#383333; padding-bottom:20px;}
#footer div li{ padding:10px 0;}
#footer div li a{ color:#099;}
#footer div li a:hover{ color:#FF9500;}
