<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.hdu.mapper.UserMapper">
	<insert id="doctor_register" parameterType="doctor">
		<selectKey keyProperty="id" resultType="string" order="BEFORE">
			select uuid()
		</selectKey>
		INSERT INTO doctor(id,username,password,phone)
		VALUES(#{id},#{username},#{password},#{phone})
	</insert>
	
	<insert id="patient_register" parameterType="patient">
		<selectKey keyProperty="id" resultType="string" order="BEFORE">
			select uuid()
		</selectKey>
		INSERT INTO patient(id,username,password,phone)
		VALUES(#{id},#{username},#{password},#{phone})
	</insert>
</mapper>

